<section>
  <dl>
    <dt>Title</dt>
    <dd><%= @book.title %></dd>
    <dt>Body</dt>
    <dd><%= @book.body %></dd>
  </dl>
  <%= link_to 'Edit', edit_book_path %> | <%= link_to 'Back', books_path %>
</section>