body{
  font-size: 16px;
  line-height: 1.5;
  color: #212121;
  background-color: #f1f4f8;
}

header{
  width: 100%;
  background-color: #0a5169;
  color: #dbe8ec;
  padding: 0 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

main{
  padding: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

section{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

h2{
  font-weight: bold;
  color: #424242;
  border-bottom: 1px solid #9E9E9E;
  margin-bottom: 1.5rem;
}

a:not([class]){
  font-weight: bold;
  color: #00c7ce;
  &:hover{
    opacity: 0.7;
  }
}

table{
  width: 100%;
  max-width: 768px;
  margin: 0 auto 1.5rem;
  thead{
    font-weight: bold;
    color: #424242;
  }
  tbody{
    background-color: #fff;
    border: 1px solid #9E9E9E;
    tr{
      border-bottom: 1px solid #9E9E9E;
    }
    td{
      font-size: 13px;
      padding: 0.5em;
      &:first-child{
        font-weight: bold;
        font-size: 14px;
        color: #424242;
      }
    }
  }
}

form{
  width: 100%;
  max-width: 768px;
  margin: 0 auto 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.flash-message {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: var(--color-flash-bg);
  color: var(--color-flash);
  border: solid 1px;
  &.notice {
    --color-flash-bg: #E8F5E9;
    --color-flash: #388E3C;
  }
  &.alert {
    --color-flash-bg: #FFEBEE;
    --color-flash: #D32F2F;
  }
}

dl{
  width: 100%;
  max-width: 960px;
  margin: 0 auto 1.5rem;
  dt{
    font-weight: bold;
    color: #424242;
  }
  dd{
    margin-left: 1em;
    margin-bottom: 0.5em;
  }
}

label{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-weight: bold;
  color: #424242;
}

textarea {
  resize: vertical;
}

.field_with_errors{
  display: flex;
  flex-direction: column;
  > label{
    color: #F44336;
  }
  > *:not(label){
    outline: 2px solid #F44336;
  }
}

.error-message{
  width: 100%;
  max-width: 768px;
  margin: 0 auto 1.5rem;
  background-color: #FFEBEE;
  color: #D32F2F;
  border: 1px solid #D32F2F;
  border-radius: 0.5rem;
  overflow: hidden;
  &__title{
    background-color: #D32F2F;
    color: #FFF;
    padding: 1rem;
  }
}
